@page
@model PackagesModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1>
        Find Package / Add Package
    </h1>
    <form>
        <div class="form-group">
            <label>Name</label>
            <input id="create-name" class="form-control" type="text" />
        </div>
        <div class="form-group">
            <label>Price</label>
            <input id="create-price" class="form-control" type="number" />
        </div>
        <div class="form-group">
            <label>Category</label>
            <input id="create-category" class="form-control" type="text" />
        </div>
        <div class="form-group">
            <label>Travel Id (Insert Unique number)</label>
            <input id="create-agencyId" class="form-control" type="number" />
        </div>
        <div class="form-group">
            <button id="create-button-Package" class="btn btn-primary" type="button">Add Package</button>
        </div>
    </form>

    <form>
        <div class="form-group">
            <label>Pakcage ID</label>
            <input id="id-input" class="form-control" type="number" />
        </div>
        <div class="form-group">
            <button id="get-by-id" class="btn btn-primary" type="button">Find Package</button>
        </div>
    </form>
    <div class="form-group">
        <button id="all-Package" class="btn btn-primary">Show me all Packages</button>
    </div>

    <div>
        <table id="data-table" class="table table-bordered mt-5">
            <thead>
                <tr>
                    <th class="bg-warning">
                        ID
                    </th>
                    <th class="bg-warning">
                        Name
                    </th>
                    <th class="bg-warning">
                        Actions
                    </th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Package</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input id="edit-id-Package" type="text" hidden readonly />
                    <div class="form-group">
                        <label>Name:</label>
                        <input id="edit-name-Package" class="form-control" type="text" />
                    </div>
                    <div>
                        <label>Price: </label>
                        <input id="edit-price-Package" class="form-control" type="number" />
                    </div>
                    <div>
                        <label>Category: </label>
                        <input id="edit-category-Package" class="form-control" type="text" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="edit-Package" type="button" class="btn btn-primary">Edit</button>
                </div>
            </div>
        </div>
    </div>
</div>


