@page
@model TravelAgencyModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1>
        Find Travel Agency / Add Travel Agency
    </h1>
    <form>
        <div class="form-group">
            <label>Name</label>
            <input id="create-name" class="form-control" type="text" />
        </div>
        <div class="form-group">
            <label>Rating</label>
            <input id="create-rating" class="form-control" type="number" />
        </div>
        
        <div class="form-group">
            <button id="create-button-travelagency" class="btn btn-primary" type="button">Add Travel Agency</button>
        </div>
    </form>

    <form>
        <div class="form-group">
            <label>Travel Agency ID</label>
            <input id="id-input" class="form-control" type="number" />
        </div>
        <div class="form-group">
            <button id="get-by-id" class="btn btn-primary" type="button">Find Travel Agency</button>
        </div>
    </form>
    <div class="form-group">
        <button id="all-travelagency" class="btn btn-primary">Show me all Travel Agencies</button>
    </div>

    <div>
        <table id="data-table" class="table table-bordered mt-5">
            <thead>
                <tr>
                    <th class="bg-warning">
                        ID
                    </th>
                    <th class="bg-warning">
                        Name
                    </th>
                    <th class="bg-warning">
                        Actions
                    </th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Travle Agency</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input id="edit-id-travelagency" type="text" hidden readonly />
                    <div class="form-group">
                        <label>Name:</label>
                        <input id="edit-name-travelagency" class="form-control" type="text" />
                    </div>
                    <div>
                        <label>Rating: </label>
                        <input id="edit-rating-travelagency" class="form-control" type="number" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="edit-travelagency" type="button" class="btn btn-primary">Edit</button>
                </div>
            </div>
        </div>
    </div>
</div>


